@import '../../../Global/SCSS/mixins';
@import '../../../Global/SCSS/variables';

@media (min-width: 320px) {
    .up-footer {
        position: absolute;
        background-color: rgba(217, 241, 224, 1);
        width: 70%;
        border-radius: 10px;
        left: 50%;
        transform: translate(-50%, 0%);
        top: -100px;

        div {
            padding: 10px;
            display: flex;
            @include display_Direction_Center_Column;
        }

        h2 {
            color: black;
            font-size: $mainFontSizeForListItem_18px;
            text-align: center;

            span {
                color: $mainColorForButtonsAndTitle;
            }
        }
    }
}

@media (min-width: 1024px) {
    .up-footer {
        top: -55px;
        min-width: 68%;
        max-width: 68%;
        div {
            @include display_Direction_Center_Row;
            height: 70px;
        }

        h2 {
            @include main_Title_Style_Laptop_1;
            margin: 0;
            margin-right: 55px;
        }
    }
}
