@media (min-width: 320px) {
    .header-bottom-section {
        display: flex;
        height: 70px;
        padding: 15px;
        justify-content: space-between;
    }
}

@media (min-width: 1024px) {
    .header-bottom-section {
        height: auto;
        margin-bottom: 40px;
    }
}
