@import '../../../Global/SCSS/mixins';

@media (min-width: 320px) {
    .header-bottom-section {
        @include display_Space_Between;
        height: 70px;
        padding: 15px;
        background-color: white;
    }
}

@media (min-width: 1024px) {
    .header-bottom-section {
        height: auto;
    }
}
