@import '../../../../../Global/SCSS/mixins';
@import '../../../../../Global/SCSS/variables';

@media (min-width: 320px) {
    .flower-title {
        @include main_Title_Style_Phone_3;

        &::before {
            content: url('../../../../../../assets/images/HomeTitleImage/Flower.svg');
            height: 20px;
            width: 20px;
        }
    }
    h4 {
        @include main_Title_Style_Phone_4;
        margin: 5px 0px;

        span {
            color: $mainColorForButtonsAndTitle;
        }
    }
    p {
        hyphens: auto;
    }
}
