@import '../../Global/SCSS/variables';
@import '../../Global/SCSS/mixins';

@media (min-width: 320px) {
    .footer-section {
        background-color: $mainColorForBackground;
        color: $mainColorForLinksAndText;
        position: relative;
        margin-top: 160px;
    }

    .footer-container {
        padding-top: 40px;

        .footer-down-links {
            @include display_Space_Between;
            margin-top: 15px;
            width: 100%;
        }
    }
}

@media (min-width: 1024px) {
    .footer-container {
        display: flex;
        flex-wrap: wrap;

        .footer-down-links {
            justify-content: center;
            border-top: 1px solid white;
            padding-top: 10px;
        }
    }
}
