.reviews-title {
    text-align: center;
    margin-top: 25px;
}

.reviews-item {
    h4 {
        font-size: 18px;

        span {
            font-weight: normal;
            color: black;
        }
    }
}
