@import '../../Global/SCSS/mixins';

@media (min-width: 320px) {
    .card-item {
        &:hover {
            background-color: rgb(244, 244, 244);
        }

        & > div {
            @include display_Direction_Center_Column;
            height: 100px;
        }
    }

    .card-content {
        h2 {
            margin: 0px;
            text-align: center;
        }

        p {
            margin: 0;
        }
    }
}
