@media (min-width: 320px) {
    .card-item {
        &:hover {
            background-color: rgb(244, 244, 244);
        }

        & > div {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 100px;
        }
    }

    .card-content {
        h2 {
            margin: 0px;
            text-align: center;
        }

        p {
            margin: 0;
        }
    }
}

@media (min-width: 1024px) {
}
