@import '../../../../../Global/SCSS/mixins';
@import '../../../../../Global/SCSS/variables';

@media (min-width: 320px) {
    .home-expierence-title {
        h3 {
            @include main_Title_Style_Phone_4;
            text-align: center;

            & span {
                color: $mainColorForButtonsAndTitle;
            }
        }

        p {
            hyphens: auto;
        }
    }
}

@media (min-width: 320px) {
    .home-expierence-title {
        width: 100%;
    }
}
