@import '../../../../../Global/SCSS/variables';

@media (min-width: 320px) {
    .home-solution-link {
        margin: 10px 0px;
        text-align: center;

        a {
            text-decoration: none;
            color: $mainColorForButtonsAndTitle;
            font-weight: $mainFontWeight_800;
        }
    }
}
