@import '../../../../Global/SCSS/mixins';
@import '../../../../Global/SCSS/variables';

.home-team-card {
    height: 400px;
    overflow: hidden;
}

.home-team-card-item {
    position: relative;
    display: flex;
    justify-content: center;

    .home-team-card-description {
        position: absolute;
        top: 75%;
        transition: top 0.5s;
        background-color: $mainColorForButtonsAndTitle;
        width: 100%;
        opacity: 70%;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        text-align: center;
        height: 400px;

        p {
            margin: 0px 0px 5px;
            color: white;
            @include main_Title_Style_Laptop_3;

            &:last-child {
                margin-top: 20px;
                @include main_Title_Style_Phone_3;
            }
        }
    }

    &:hover .home-team-card-description {
        top: 0;
        @include display_Direction_Center_Column;
        border-radius: 0px;
    }
}
