@import '../../../Global/SCSS/mixins';

@media (min-width: 320px) {
    button {
        background: none;
        border: none;
        outline: none;

        a {
            @include main_Style_For_Links_White;
        }
    }
}
