@import '../../../../../Global/SCSS/mixins';
@import '../../../../../Global/SCSS/variables';

@media (min-width: 1024px) {
    .laptop-solution-title {
        & > :first-child {
            font-weight: $mainFontWeight_800;

            &::before {
                content: url('../../../../../../assets/images/HomeTitleImage/Flower.svg');
                width: 20px;
                height: 20px;
            }
        }
        h2 {
            @include main_Title_Style_Laptop_2;
            margin: 8px 0px;

            span {
                color: $mainColorForButtonsAndTitle;
            }
        }
    }
}
