@media (min-width: 1024px) {
    .laptop-solution-title {
        & > :first-child {
            font-weight: 800;

            &::before {
                content: url('../../../../../../assets/images/HomeTitleImage/Flower.svg');
                width: 20px;
                height: 20px;
            }
        }
        h2 {
            font-size: 50px;
            font-weight: 800;
            margin: 8px 0px;

            span {
                color: green;
            }
        }
    }
}
