@import '../../../Global/SCSS/mixins';
@import '../../../Global/SCSS/variables';

@media (min-width: 320px) {
    .footer-contacts {
        display: flex;
        flex-direction: column;

        h4 {
            @include main_Title_Style_Phone_2;
            margin-top: 40px;
        }
    }

    .footer-protect-info {
        p {
            margin: 8px 0px;
            font-size: $mainFontSizeForListItem_12px;
        }
    }
}

@media (min-width: 1024px) {
    hr {
        display: none;
    }

    .footer-contacts {
        margin-left: 40px;
        width: calc(33% - 10px);

        h4 {
            margin-bottom: 0;
        }
    }

    .footer-protect-info {
        @include display_Direction_Center_Column;
        width: calc(33% - 10px);
    }
}
