@media (min-width: 320px) {
    .header-top-section {
        padding: 15px;
        width: 100%;
        background-color: rgba(12, 75, 53, 1);
        height: 55px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
