@import '../../../../Global/SCSS/mixins';
@import '../../../../Global/SCSS/variables';

@media (min-width: 320px) {
    .swiper {
        width: 100%;
        margin-top: 30px;
    }

    .swiper-slide {
        @include main_Title_Style_Phone_2;

        .slide-item {
            position: relative;
            img {
                width: 100%;
            }

            .slide-item-description {
                height: 80px;
                background-color: $mainColorForButtonsAndTitle;
                opacity: 50%;
                position: absolute;
                left: 0;
                bottom: 8px;
                border-top-right-radius: 20px;
                border-top-left-radius: 20px;
                width: 100%;
                @include display_Direction_Center_Column;

                p {
                    color: $mainColorForLinksAndText;
                    margin: 0;
                    font-weight: $mainFontWeight_800;
                }
            }
        }
    }

    .swiper-pagination-bullet {
        background-color: $mainColorForLinksAndText !important;
    }

    .swiper-pagination-bullet-active {
        width: 25px !important;
        border-radius: 5px !important;
    }
}
