@import '../../../../Global/SCSS/variables';

.header-lang select {
    background: none;
    border: none;
    outline: none;
    color: white;

    option {
        background-color: $mainColorForBackground;
    }
}
