@media (min-width: 320px) {
    .home-expierence-logo {
        height: auto;
        margin: 0px -16px;
        text-align: center;

        & > img:nth-child(1) {
            width: 100%;
            height: 100%;
            box-shadow: -11px -7px 0px 0px rgba(12, 75, 53, 1);
        }
    }
}

@media (min-width: 1024px) {
    .home-expierence-logo {
        width: 48%;
        margin: 0px;
        height: fit-content;
        align-self: center;
        margin-right: 10px;
    }
}
