@import '../../../../../Global/SCSS/mixins';
@import '../../../../../Global/SCSS/variables';

.home-expierence-card {
    cursor: pointer;
    @include display_Direction_Center_Column;
    padding: 5px;

    &:hover {
        background-color: rgb(244, 244, 244);
    }

    & > a {
        text-decoration: none;
        color: $mainColorForButtonsAndTitle;
    }
}
