@import '../../../Global/SCSS/variables';
@import '../../../Global/SCSS/mixins';

@media (min-width: 320px) {
    .footer-form {
        .form-container {
            width: 100%;
            @include display_Space_Between;
            border-bottom: 1px solid $mainColorForLinksAndText;

            input {
                background: none;
                border: none;
                color: $mainColorForLinksAndText;
                outline: none;
                overflow: auto;

                &::placeholder {
                    color: $mainColorForLinksAndText;
                    font-size: $mainFontSizeForListItem_16px;
                }
            }

            button {
                background: none;
                color: $mainColorForLinksAndText;
                border: none;
                cursor: pointer;
                font-size: $mainFontSizeForListItem_16px;
            }
        }
    }
}

@media (min-width: 1024px) {
    .footer-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: calc(33% - 10px);

        input {
            width: 75%;
        }
    }
}
