@media (min-width: 320px) {
    .footer-form {
        .form-container {
            width: 100%;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid white;

            input {
                background: none;
                border: none;
                color: white;
                outline: none;
                overflow: auto;

                &::placeholder {
                    color: white;
                    font-size: 16px;
                }
            }

            button {
                background: none;
                color: white;
                border: none;
                cursor: pointer;
                font-size: 16px;
            }
        }
    }
}

@media (min-width: 1024px) {
    .footer-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: calc(33% - 10px);

        input {
            width: 75%;
        }
    }
}
