@media (min-width: 320px) {
    .choose-us-section {
        background-image: url('../../../../assets/images/HomeChooseUs/Phone/BG.svg');
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 30px;
        width: 100%;

        .choose-us-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 30px;
        }
    }
}

@media (min-width: 1024px) {
    .choose-us-section {
        .choose-us-container {
            flex-direction: row;
            padding: 40px 24px;
        }
    }
}
