@media (min-width: 1024px) {
    .laptop-solution-section {
        background-image: url('../../../../../assets/images/HomeTitleImage/Laptop/BG.svg');
        display: flex;
        justify-content: center;
        background-repeat: no-repeat;
        background-size: cover;

        .laptop-solution-container {
            margin-top: 40px;
            display: flex;
            padding-bottom: 40px;
            position: relative;
            .laptop-solution-content {
                width: 40%;
                z-index: 2;
            }
        }
    }
}
