@import '../../../../../../Global/SCSS/variables';

@media (min-width: 320px) {
    .dropdown-menu {
        position: absolute;
        z-index: 2;
        list-style-type: none;
        background-color: $mainColorForBackground;
        padding: 0;
        margin: 0;
        margin-left: -15px;
        width: 100%;
        height: 425px;
        top: 80px;
        transform: translateY(-10px);
        visibility: hidden;
        transition: 0.3s;

        li {
            a {
                text-decoration: none;
                color: $mainColorForLinksAndText;
                padding: 10px;
                width: 95%;
                border-bottom: 1px solid $mainColorForLinksAndText;
                margin-left: 2.5%;
                display: inline-block;
            }
        }
    }

    .dropdown-menu.active {
        transform: translateY(0px);
        visibility: visible;
        opacity: 1;
    }
}
