@import '../../Global/SCSS/mixins';
@import '../../Global/SCSS/variables';

@media (min-width: 320px) {
    .servises-item-container {
        @include display_Direction_Center_Column;
        flex-wrap: wrap;
        padding: 10px;

        .servises-item-title {
            @include display_CenterRow_and_CenterColumn;
            margin-bottom: 10px;
            flex-wrap: wrap;

            & span {
                @include main_Title_Style_Laptop_3;
                margin-left: 15px;
            }

            & div {
                width: 100%;
                text-align: center;
                margin: 20px 0 5px;

                a {
                    text-decoration: none;
                    color: $mainColorForButtonsAndTitle;
                    @include main_Title_Style_Laptop_3;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        .servises-item-subtitle {
            @include display_Space_Between;
            flex-wrap: wrap;

            & span {
                @include main_Title_Style_Phone_3;
                margin-right: 7px;
            }
            & div:nth-child(1) {
                margin-bottom: 10px;
            }
        }

        .servises-item-input {
            @include display_CenterRow_and_CenterColumn;
            margin: 0 -10px;

            button {
                margin: 0px 10px;
            }
        }

        .servises-item-button {
            @include display_Space_Between;
            margin-top: 15px;
            width: 100%;

            span {
                @include display_CenterRow_and_CenterColumn;
                height: 100%;
                svg {
                    object-fit: cover;
                    border: 2px solid $mainColorForButtonsAndTitle;
                    color: $mainColorForButtonsAndTitle;
                    border-radius: 50%;
                    margin-top: 5px;
                    font-size: 35px;
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    .servises-item-container {
        .servises-item-subtitle {
            justify-content: center;

            & div {
                margin: 0px 15px;
            }
        }

        .servises-item-button {
            & div:nth-child(1) {
                margin: auto;
                padding-left: 75px;
            }
        }
    }
}
