@import '../../../../Global/SCSS/mixins';
@import '../../../../Global/SCSS/variables';

@media (min-width: 320px) {
    .home-staff-title {
        display: flex;
        flex-direction: column;
        h3 {
            @include main_Title_Style_Phone_4;
            text-align: center;
            margin-bottom: 10px;

            span {
                color: $mainColorForButtonsAndTitle;
            }
        }
        p,
        div {
            text-align: center;
            a {
                color: white;
                text-decoration: $mainColorForLinksAndText;
            }
        }
    }
}

@media (min-width: 1024px) {
    .home-staff-title {
        flex-direction: row;
        flex-wrap: wrap;
        h3 {
            text-align: left;
            width: 100%;
        }

        p {
            width: 70%;
            text-align: left;
            font-size: 22px;
        }

        div {
            width: 30%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
