//Colors
$mainColorForButtonsAndTitle: rgb(0, 128, 0);
$mainColorForBackground: rgb(12, 75, 53);
$mainColorForLinksAndText: rgb(250, 250, 250);

//FontSize
$mainFontSizeForTitle_50px: 50px;
$mainFontSizeForTitle_35px: 35px;
$mainFontSizeForTitle_22px: 22px;
$mainFontSizeForListItem_18px: 18px;
$mainFontSizeForListItem_16px: 16px;
$mainFontSizeForListItem_14px: 14px;
$mainFontSizeForListItem_12px: 12px;

//FontWeight
$mainFontWeight_800: 800;
$mainFontWeight_700: 700;
