@import '../../../../../Global/SCSS/mixins';
@import '../../../../../Global/SCSS/variables';

@media (min-width: 1024px) {
    .header-laptop-section {
        width: 80%;
        margin: 0 auto;

        .header-laptop-container {
            @include display_Center_Space_Between;

            & > div {
                height: 80px;

                img {
                    height: 100%;
                }
            }

            .header-laptop-list {
                display: flex;

                li {
                    list-style-type: none;
                    padding: 10px;

                    a {
                        color: $mainColorForBackground;
                        text-decoration: none;
                        font-weight: $mainFontWeight_700;
                        font-size: $mainFontSizeForListItem_18px;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                    .active {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
